
.dress-code{
    margin-top: 90px;
    position: relative;
    width: 100%;
}

.dress-code__title{
    width: 700px;
    font-family: Fagotcondoutlinec, serif;
    font-size: 100px;
    color: white;
}
.dress-code__description{
    margin-top: 10px;
    font-size: 25px;
    font-family: Montserrat-Light;
    width: 700px;
    line-height: 40px;
}

.dress-code__description-2{
    margin-top: 60px;
    font-size: 20px;
    font-family: Montserrat-Light;
    line-height: 30px;
    color: white;
    text-align: right;
    margin-bottom: 0;
    padding-left: 500px;
}

.dress-code__cubes{
    margin-top: 20px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.dress-code__cube{
    height: 100px;
    width: 100px;
}

.dress-code__gentelmen{
    display: flex;
    height: 1200px;
    margin-top: 200px;
}
.dress-code__gentelmen-img{
    width: 200px;
    height: 1200px;
    object-fit: contain;
}

.dress-code__gentelmen-photos{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dress-code__gentelmen-photo{
    height: 410px;
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .dress-code__cube{
        height: 40px;
        width: 40px;
    }
    .dress-code__cubes{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 320px;
    }
    .dress-code__description{
        margin-left: 10px;
        font-size: 20px;
        width: 80%;
        line-height: 28px;
    }
    .dress-code__description-2{

        padding-left: 100px;
    }
}
