
.program-evening__description{

    width: 100%;
    height: 500px;
}

.program-evening__description_text{
    color: black;
    font-size: 28px;
    font-family: Montserrat-Light;
    margin: 60px;
    margin-top: 140px;
    padding-top: 80px;
    line-height: 70px;
}
.program-evening__description_title{
    color: #fff;
    font-size: 90px;
    font-family: Fagotcondoutlinec;
    font-weight: normal ;
    text-align: center;
    letter-spacing: .05em;
    margin: 60px;
    margin-top: 40px;
    line-height: 70px;
    margin-bottom: 0;
    text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #ffffff,
            0 0 80px #ffffff,
            0 0 90px #ffffff,
            0 0 100px #ffffff,
            0 0 150px #ffffff;;
    animation: flicker 1.5s infinite alternate;
}
.program-evening__description_address{
    color: black;
    font-size: 30px;
    font-family: Montserrat-Light;
    margin-top: 30px;
    text-align: center;
}

.program-evening__run-text {
    font-size: 90px;
    font-family: Fagotcondoutlinec, serif;
    color: white;
    width: 100%;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.program-evening__run-text p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}

.program-evening__times{
    padding-left: 100px;
    padding-right: 100px;
}
.program-evening__time_clock{
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px rgb(255, 213, 145),
            0 0 82px rgb(255, 213, 145),
            0 0 92px rgb(255, 213, 145);;
    font-size: 65px;
    color: white;
    font-family: Fagotcondoutlinec;
    margin: 0;
}

.program-evening__time{
    display: flex;
    margin-top: 100px;
}

.program-evening__time:last-child{
    margin-bottom: 100px;
}

.program-evening__time_description{
    color: white;
    font-family: Montserrat-Light;
    font-size: 55px;
    margin: 0;
    margin-left: 50px;
}
.program-evening__black{
    background-color: black;
}
@media screen and (max-width: 768px) {
    .program-evening__description_title{
        font-size: 40px;
        margin: 0;
        text-align: center;
        font-weight: bold;
    }
    .program-evening__time_clock{
        font-size: 30px;

        margin-left: 10px;

    }
    .program-evening__run-text{
        font-size: 40px;
    }

    .program-evening__description_text{
        font-size: 24px;
        font-family: Montserrat-Light;
        margin: 30px;
        line-height: 30px;
        text-align: center;
    }
    .program-evening__time_description{
        font-size: 25px;
        margin: 0;
        margin-left: 20px;
    }
    .program-evening__description_address{
        font-size: 20px;
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        margin-top: 20px;
    }
    .program-evening__times{
        padding: 10px
    }
    .program-evening__time:last-child{
        margin-bottom: 50px;
    }
    .program-evening__time{
        margin-top: 50px;
    }

}