@font-face {
    font-family: "UntitledJapanese";
    src: url("./ofont.ru_UntitledJapanese.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Light";
    src: url("./Montserrat-Light.ttf") format("truetype");

}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("./Montserrat-Bold.ttf") format("truetype");

}

@font-face {
    font-family: "Fagotcondoutlinec";
    src: url("./fagotcondoutlinec.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}